@media (max-width: 360px) {
  body {
    margin: 0;
    padding: 0;
  }
  body #hero .home-container {
    padding-top: 350px !important;
  }
  body #hero .home-container .signature {
    width: 300px !important;
  }
  body #hero .home-container p {
    width: 90% !important;
  }
  body #hero .home-container button {
    padding: 20px 32px !important;
  }
  body #artist {
    padding: 5% !important;
    margin-top: 23rem;
  }
  body #artist #artist-img-container {
    flex-direction: column-reverse !important;
    text-align: center;
  }
  body #artist #artist-img-container .artist-card {
    position: relative !important;
    z-index: 2;
  }
  body #artist #artist-img-container .artist-card::before {
    content: "" !important;
    position: absolute !important;
    width: 285px !important;
    height: 398px !important;
    top: -15px !important;
    right: 5px !important;
    border: solid 1px #e3b6b1 !important;
    z-index: -1 !important;
  }
  body #artist #artist-img-container .artist-card img {
    justify-content: center;
    width: 90%;
    position: relative;
  }
  body #artist #artist-img-container .artist-card .card-text {
    width: 300.37px;
    text-align: center;
    position: absolute;
    left: 19px;
  }
  body #artist .artist-description-container {
    width: 100% !important;
  }
  body #artist .artist-description-container .artist-description h3 {
    font-size: 32px !important;
    line-height: 41.6px;
  }
  body #artist .artist-description-container .artist-description p {
    width: 80%;
    margin: 0 auto;
    line-height: 25.6px !important;
  }
  body #artist .artist-description-container .artist-btn-sign {
    display: flex;
    flex-direction: column-reverse !important;
    margin: 0 auto;
  }
  body #artist .artist-description-container .artist-btn-sign img {
    transform: rotate(7deg) !important;
  }
  body #artist .artist-description-container .artist-btn-sign button {
    padding: 20px 32px !important;
  }
  body #artist #brand-logo .our-brand {
    font-size: 18px !important;
    width: 100% !important;
  }
  body #artist #brand-logo .our-brand::before, body #artist #brand-logo .our-brand::after {
    width: 5em !important;
    margin: 0 auto;
  }
  body #artist #brand-logo .our-brand::before {
    margin-right: 1em;
  }
  body #artist #brand-logo .our-brand::after {
    margin-left: 1em;
  }
  body #artist #brand-logo .logos {
    gap: 15px !important;
    justify-content: space-around !important;
  }
  body #artist #brand-logo .logos .logo-ray1 {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.5rem 0 0 !important;
  }
  body #artist #brand-logo .logos .logo-ray1 .logo {
    padding: 1rem 0;
  }
  body #artist #brand-logo .logos .logo-ray2 {
    flex-wrap: wrap;
    width: 79%;
    margin: 0 auto;
  }
  body #artist #brand-logo .logos .logo-ray2 .logo {
    padding: 1rem 0;
  }
  body #star .star-intro {
    padding: 5% 3%;
    margin-bottom: 20px !important;
  }
  body #star .star-intro h1 {
    font-size: 40px !important;
    padding: 10% 0 !important;
    margin: 0 auto;
    line-height: 48px;
    width: 90% !important;
    position: relative;
  }
  body #star .star-intro h1::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -15px;
    display: inline-block;
    width: 200px;
    height: 1px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #e3b6b1;
  }
  body #star .star-intro p {
    width: 90% !important;
    padding: 20% 0 5% !important;
  }
  body #star .star-intro button {
    padding: 20px 32px !important;
  }
  body #star .star-characters {
    grid-template-columns: 1fr 1fr !important;
    grid-template-rows: 1fr 1fr !important;
    grid-auto-flow: column;
  }
  body #star .star-characters img {
    width: 100%;
    height: 100%;
  }
  body #star .star-description {
    padding: 5% 3% !important;
  }
  body #star .star-description .doublequtes {
    width: 2em;
  }
  body #star .star-description h5 {
    margin: 0;
    font-size: 20px !important;
    line-height: 30px;
    font-weight: 100;
    font-family: "Baskervville", serif;
    padding: 5% 0;
  }
  body #star .star-description .sigunature {
    width: 15rem;
  }
  body #makeup .makeup-title {
    padding: 10% 3% !important;
  }
  body #makeup .makeup-title h1 {
    font-size: 40px !important;
    line-height: 48px !important;
    position: relative;
    width: 90%;
    margin: auto;
  }
  body #makeup .makeup-title h1::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -15px;
    display: inline-block;
    width: 200px;
    height: 1px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #e3b6b1;
  }
  body #makeup .makeup-title p {
    padding: 10% 0;
    margin-bottom: 0 !important;
    font-size: 16px;
    line-height: 25.6px !important;
  }
  body #makeup .makeup-title button {
    padding: 20px 32px !important;
  }
  body #makeup .offer-images-container {
    flex-direction: column;
  }
  body #makeup .offer-images-container .offer-card {
    position: relative;
    z-index: 2;
    width: 90%;
    justify-content: center;
  }
  body #makeup .offer-images-container .offer-card:nth-child(even)::before {
    width: 84%;
    border: none !important;
  }
  body #makeup .offer-images-container .offer-card h1 {
    font-size: 3.5rem !important;
    color: #fff !important;
    position: absolute !important;
    left: 20% !important;
  }
  body #makeup .offer-images-container .offer-card h2 {
    position: absolute !important;
    color: #fff !important;
    left: 8% !important;
    font-size: 3.5rem !important;
  }
  body #makeup101 {
    margin: 0 !important;
    padding: 0 !important;
  }
  body #makeup101 h1 {
    margin: 0 !important;
    font-size: 40px !important;
    padding: 10% 0;
  }
  body #makeup101 #makeup101-container {
    flex-direction: column !important;
  }
  body #makeup101 #makeup101-container aside {
    text-align: center;
    padding: 5%;
  }
  body #makeup101 #makeup101-container aside .makeup101-btn {
    padding-top: 2rem;
    flex-direction: column;
  }
  body #makeup101 #makeup101-container aside .makeup101-btn .makeup-title-container {
    display: flex;
    flex-direction: column;
  }
  body #makeup101 #makeup101-container aside .makeup101-btn .makeup-title-container .icon-title {
    flex-direction: column !important;
  }
  body #makeup101 #makeup101-container aside .makeup101-btn .makeup-title-container .icon-title h2 {
    font-size: 32px !important;
    font-weight: 100;
  }
  body #makeup101 #makeup101-container aside .makeup101-btn .makeup-title-container .icon-title img {
    margin: 0 auto;
    justify-content: center;
    width: 20px !important;
  }
  body #makeup101 #makeup101-container aside .makeup101-btn .makeup-title-container p {
    font-size: 16px;
    line-height: 25.6px;
    width: 80% !important;
    margin: 0 auto;
    text-align: center !important;
  }
  body #makeup101 #makeup101-container aside .makeup101-btn .makeup-btn-guide {
    display: flex;
    justify-content: center;
    margin: 0 auto !important;
  }
  body #makeup101 #makeup101-container aside .makeup101-btn .makeup-btn-guide p {
    font-size: 20px;
    display: flex !important;
  }
  body #makeup101 #makeup101-container aside .allclasses {
    padding: 20px 32px !important;
    width: 95%;
    font-weight: 100;
    margin: 2rem 0;
    justify-content: center !important;
  }
  body #makeup101 #makeup101-container .makeupProImage-container {
    position: relative;
  }
  body #makeup101 #makeup101-container .makeupProImage-container::before {
    content: "" !important;
    border: solid 1px #fff !important;
    width: 90% !important;
    height: 90% !important;
    position: absolute !important;
    top: 4% !important;
    left: 5% !important;
    z-index: 2 !important;
  }
  body #makeup101 #makeup101-container .makeupProImage-container .makeupProImage {
    width: 100%;
  }
  body #diy {
    padding: 5% !important;
  }
  body #diy h1 {
    font-size: 32px !important;
  }
  body #diy .video-container {
    overflow-x: scroll !important;
    -webkit-overflow-scrolling: touch !important;
    flex-wrap: nowrap !important;
    justify-content: center !important;
  }
  body #diy .video-container img {
    padding: 0 1rem !important;
  }
  body #diy button {
    padding: 20px 32px !important;
  }
  body #letstalk {
    color: #725a58;
  }
  body #letstalk h1 {
    font-size: 40px !important;
    line-height: 48px !important;
    font-weight: 100 !important;
    width: 100% !important;
    text-align: center;
    letter-spacing: 0.5rem !important;
  }
  body #letstalk p {
    font-size: 16px !important;
    width: 90% !important;
    text-align: center !important;
    margin: 2rem auto !important;
  }
  body #letstalk .contactFormContainer {
    width: 360px;
  }
  body #letstalk .contactFormContainer .contactTabs {
    width: 340px;
  }
  body #letstalk .contactFormContainer .contact-form .event {
    margin-bottom: 2rem;
  }
  body #letstalk .contactFormContainer .contact-form .event #eventSelector {
    display: flex;
    flex-direction: column !important;
  }
  body #letstalk .contactFormContainer .contact-form .event #eventSelector .eventButton {
    width: 100%;
  }
  body #letstalk #wedding .dateTime {
    margin-bottom: 2rem;
  }
  body #letstalk #wedding .dateTime .eventDate {
    width: 100%;
  }
  body #letstalk #wedding .dateTime .eventDate .datePicker {
    width: 100%;
  }
  body #letstalk #wedding .dateTime .eventDate .datePicker .flatpickr-input {
    width: 100% !important;
    padding: 3%;
  }
  body #letstalk #wedding .eventTime #eventSelect {
    width: 280px;
  }
  body #letstalk #wedding .eventName {
    margin-bottom: 2rem;
  }
  body #letstalk #wedding .eventName #name {
    width: 100%;
  }
  body #letstalk #wedding .group {
    margin-bottom: 2rem;
  }
  body #letstalk #wedding .group #marginme {
    gap: 10px;
  }
  body #letstalk #next {
    margin: 0;
    width: 100%;
  }
}

/*# sourceMappingURL=_screensize.css.map */
