@use "screensize";

@mixin btn($color) {
  font-size: 20px;
  padding: 24px 32px;
  font-family: "Baskervville", serif;
  font-weight: 400;
  border: solid 0.8px $color;
  background-color: rgba(255, 255, 255, 0);
  color: $color;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Baskervville", serif;

  main {
    background-color: #f8f6f4;

    #hero {
      background-image: url("../../images/homePage/home_img.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      // width: 100%;
      height: 625px;

      .home-container {
        // height: 625px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding-top: 250px;

        .signature {
          color: #fff;
          width: 500px;
        }

        p {
          color: #fff;
          font-size: 18px;
        }

        button {
          @include btn(#fff);

          &:hover {
            transition: all 0.5s;
            background-color: rgba(255, 255, 255, 0.5);
            color: #000;
          }
        }
      }
    }

    #artist {
      padding: 5% 15% 0;

      #artist-img-container {
        background-color: #f8f6f4;
        display: flex;
        flex-direction: row;
        gap: 24px;
        margin-bottom: 100px;
        height: 395px;
        justify-content: space-between;

        .artist-card {
          // box-shadow: 10px 10px 0 1px red;
          position: relative;
          z-index: 1;

          img {
            // background-image: linear-gradient(to left, #ae7872 0%, #ae7872 50%);
            background-image: linear-gradient(
              45deg,
              lighten(#ae7872, 0%),
              lighten(#ae7872, 50%)
            );
            width: 285px;
            height: 321px;
            object-fit: cover;
          }

          &::before {
            content: "";
            position: absolute;
            top: -20px;
            right: -20px;
            width: 100%;
            height: 100%;
            border: solid 2px #e3b6b1;
            z-index: -1;
          }

          .card-text {
            position: absolute;
            top: 321px;
            width: 285px;
            height: 77px;
            background-color: #fff;
            display: flex;
            justify-content: space-around;
            align-items: center;

            img {
              width: 90px;
              height: auto;
            }

            p {
              font-size: 14px;
              font-weight: 300;
              font-family: "Baskervville", serif;
              width: 35%;
            }
          }
        }

        .artist-description-container {
          width: 65%;

          .artist-img {
            // background: linear-gradient(#ae7872 0%, #ae7872 50%);
            // width: 258px;
            // height: auto;
          }

          .artist-description {
            font-family: "Baskervville", serif;
            margin: 5%;

            img {
              margin-bottom: 8px;
            }

            h3 {
              font-weight: 300;
              font-size: 48px;
              margin: 0;
            }

            p {
              font-size: 18px;
              line-height: 27px;
              color: #535353;
              width: 80%;
            }
          }

          .artist-btn-sign {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 85%;
            // position: relative;

            button {
              @include btn(#5e4a49);

              &:hover {
                background-color: lighten(#b99692, 1%);
                color: #fff;
              }
            }

            // img {
            //   // transform: rotate(10deg);
            //   position: absolute;
            //   top: -1.5rem;
            //   right: 1rem;
            // }
          }
        }
      }

      #brand-logo {
        font-size: 18px;
        justify-content: center;

        .our-brand {
          display: flex;
          align-items: center;
          // background: #535353;
          font-size: 30px;
          line-height: 27px;
          font-family: "Avenir", sans-serif;
          font-weight: 100;
          width: 100%;
          color: #5e4a49;

          &::before,
          &::after {
            color: #5e4a49;
            border-top: 1px solid;
            content: "";
            width: 12em;
          }

          &::before {
            margin-right: 1em;
          }

          &::after {
            margin-left: 1em;
          }
        }

        .logos {
          filter: brightness(0) saturate(100%) invert(55%) sepia(1%)
            saturate(480%) hue-rotate(323deg) brightness(98%) contrast(92%);
          padding: 5% 0;

          .logo-ray1 {
            display: flex;
            justify-content: space-around;
            padding: 1.5rem 0;
            flex-wrap: wrap;
          }

          .logo-ray2 {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            padding: 1.5rem 0;
          }

          .logo {
            fill: red;
            padding: 1rem 0;
          }
        }
      }
    }

    #star {
      background-color: #fae9e7;
      font-family: "Baskervville", serif;
      // font-size: 80px;
      text-align: center;
      color: #5e4a49;

      .star-intro {
        margin-bottom: 50px;

        h1 {
          padding: 5% 15%;
          font-size: 60px;
          // width: 100%;
          font-weight: 100;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            left: 50%;
            bottom: -15px;
            display: inline-block;
            width: 200px;
            height: 1px;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            background-color: #e3b6b1;
          }
        }

        p {
          line-height: 27px;
          width: 25%;
          margin: 0 auto;
        }

        button {
          @include btn(#5e4a49);
          margin-top: 5%;
          font-weight: 100;

          &:hover {
            background-color: lighten(#b99692, 1%);
            color: #fff;
          }
        }
      }

      .star-characters {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;

        img {
          &:first-child {
            width: 350px;
            height: 434px;
            object-fit: cover;
          }
          &:nth-child(2) {
            width: 350px;
            height: 434px;
            object-fit: cover;
          }

          &:last-child {
            width: 350px;
            height: 434px;
            object-fit: cover;
          }
        }
      }

      .star-description {
        // width: 50%;
        // margin: 0 auto;
        padding: 5% 25%;

        h5 {
          font-size: 32px;
          line-height: 41.6px;
        }

        // img {
        //   &::before {
        //     background-image: url(../../images/homePage/leftarrow.png);
        //   }
        // }
      }
    }

    #makeup {
      color: #5e4a49;
      text-align: center;
      // padding: 0 10%;
      margin-bottom: 5%;

      .makeup-title {
        padding: 0 25% 10%;

        h1 {
          font-size: 80px;
          font-weight: 100;
          line-height: 104px;

          &::after {
            border-bottom: solid 1px black;
          }
        }

        p {
          margin-bottom: 50px;
        }

        button {
          @include btn(#5e4a49);

          &:hover {
            background-color: lighten(#b99692, 1%);
            color: #fff;
          }
        }
      }

      .offer-images-container {
        display: flex;
        align-items: center;
        padding: 0 3%;
        gap: 2rem;
        justify-content: center;

        .offer-card {
          display: flex;
          flex-direction: row;
          position: relative;
          z-index: 3;

          &:first-child:hover {
            width: 386px;
            position: relative;

            &::before {
              content: "";
              position: absolute;
              top: -20px;
              right: -20px;
              width: 100% !important;
              height: 100% !important;
              border: solid 1px #e3b6b1;
              // border: solid 1px red;
              z-index: -1;
            }
          }

          &:last-child:hover {
            width: 386px;

            &::before {
              content: "";
              position: absolute;
              top: -20px;
              right: -20px;
              width: 100% !important;
              height: 100% !important;
              border: solid 1px #e3b6b1;
              z-index: -1;
            }
          }

          &:nth-child(2) {
            position: relative;
            z-index: 3;

            &::before {
              content: "";
              position: absolute;
              top: -20px;
              right: -20px;
              width: 100%;
              height: 100%;
              border: solid 1px #e3b6b1;
              z-index: -1;
            }
          }

          .offer-image {
            width: 90%;
          }

          h1 {
            position: absolute;
            bottom: 20px;
            left: -40px;
            color: #b99692;
            font-size: 5rem;
            font-weight: 100;
            // width: 90%;
            margin: 0;
          }

          h2 {
            position: absolute;
            bottom: 20px;
            left: -10px;
            color: #b99692;
            font-size: 3rem;
            font-weight: 100;
            margin: 0;
          }
        }
      }
    }

    #makeup101 {
      margin: 0 3%;
      padding: 5%;
      background-color: #fae9e7;
      color: #725a58;
      font-weight: 100;

      h1 {
        font-size: 80px;
        font-weight: 100;
        text-align: center;
      }

      #makeup101-container {
        display: flex;
        justify-content: space-around;

        aside {
          .makeup101-btn {
            color: #725a58;
            font-family: "Baskervville", serif;
            background-color: rgba(255, 255, 255, 0);
            border: none;
            display: flex;
            margin-bottom: 1rem;

            &:hover {
              background-color: #f5dbd8;
            }

            .makeup-title-container {
              &:nth-child(2) {
                width: 400px;
              }

              .icon-title {
                display: flex;
                flex-direction: row;
                align-items: center;

                h2 {
                  padding-left: 10px;
                }
              }

              p {
                text-align: start;
                width: 90%;
              }
            }

            .makeup-btn-guide {
              margin: auto 0;

              p {
                display: none;
              }
            }
          }

          .makeup-btn {
            width: 90%;
            text-align: left;

            &:hover {
              background-color: yellow;
            }

            h2 {
              &::before {
                padding-left: 20px;
                // line-height: 20px;
                background: url(../../images/homePage/Vector.png);
              }
            }

            p {
              color: #000;
            }
          }

          .allclasses {
            @include btn(#725a58);

            &:hover {
              background-color: lighten(#b99692, 1%);
              color: #fff;
            }
          }
        }

        .makeupProImage-container {
          // position: relative;

          .makeupProImage {
            position: relative;
            z-index: 1;

            &::after {
              content: "";
              position: absolute;
              width: 90%;
              height: 90%;
              top: 0;
              left: 0;
              border: solid 1px #fff;
              z-index: 3;
            }
          }
        }
      }
    }

    #diy {
      color: #725a58;
      text-align: center;
      padding: 5% 10%;
      position: relative;

      h1 {
        font-size: 48px;
        font-weight: 100;
      }

      .video-container {
        display: flex;
        gap: 10px;
        margin-bottom: 50px;
        flex-wrap: wrap;
        justify-content: center;

        img {
          width: 300px;
          justify-content: space-between;
          z-index: 3;

          // &:hover {
          //   background-color: rgba(#000, 0.5);
          //   border-radius: 15px;
          //   z-index: 4;
          // }
        }
      }

      button {
        margin-top: 50px;
        @include btn(#725a58);

        &:hover {
          background-color: lighten(#b99692, 1%);
          color: #fff;
        }
      }
    }

    .youtube-container {
      display: none;
      opacity: 0;
      z-index: 4;

      .modal {
        width: 90vw;
        position: relative;
        padding-top: 56.25%;
        margin: 2em 0;
      }

      .youtube {
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
        width: 100vw;
        height: 100vh;
        backdrop-filter: blur(5px);
        overflow-y: scroll;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        transition: opacity 0.4s linear;
        justify-content: center;
        z-index: 5;

        iframe {
          position: absolute;
          top: 3vw;
          left: 10vh;
          border: none;
          width: 90%;
          height: 90%;
        }
      }
    }

    #letstalk {
      .letstalk-container {
        color: #725a58;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin: 3rem 0;

        h1 {
          font-size: 80px;
          margin: 0;
          letter-spacing: 1rem;
          margin: 1rem 0;
        }

        p {
          font-size: 18px;
          width: 60%;
          margin: 0 auto;
          line-height: 27px;
        }
      }
    }
  }
}

body {
  margin: 0;
  font-family: "Baskervville", serif;
  background-color: #f8f6f4;
}

.container {
  text-align: center;
}

.contactTitle {
  width: 100%;
  text-align: center;
}

.contactTitle h1 {
  font-family: "Baskervville", serif;
  color: #725a58;
  font-weight: lighter;
  letter-spacing: 0.15em;
  font-size: 4em;
  margin: 20px 0;
  margin-bottom: 0px;
}

.contactTitle hr {
  margin-top: 0px;
  width: 10%;
  border: 1px solid #e3b6b1;
  margin-top: 20px;
}

.contactTitle p {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: black;
  text-align: center;
}

.contactContainer {
  margin-top: 0px;
  background-color: #f8f6f4;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contacticons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.contacticons a {
  display: inline-flex;
  color: inherit;
  text-decoration: none;
  font-family: "Baskervville", serif;
  font-size: 1em;
  color: #725a58;
  white-space: nowrap;
}

.contacticons img {
  margin-right: 10%;
  color: #725a58;
  margin-left: 5%;
}

.contactFormContainer,
.bridalFormContainer,
.partyFormContainer,
.thanksFormContainer,
.photoThanksFormContainer,
.contactFormContainer2 {
  // margin-top: 10%;
  // margin-left: 30%;
  // margin-bottom: 10%;
  margin: 10% auto;
  background-color: #fae9e7;
  padding: 20px;
  width: 600px;
}

.contactTabs,
.bridalTabs,
.partyTabs,
.thanksTabs {
  text-align: center;
  margin-bottom: 20px;
}

.contactTab,
.bridalTab,
.backButton,
.partyTab,
.thanksTab {
  font-family: "Baskervville", serif;
  background-color: transparent;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 32px;
  position: relative;
  color: #a3a3a3;
  border-bottom: 3px solid #a3a3a3;
}

.contactTab:hover,
.bridalTab:hover,
.partyTab:hover,
.thanksTab:hover {
  color: black;
  border-bottom: 3px solid black;
}

.contactTab.active,
.bridalTab.active,
.partyTab.active,
.thanksTab.active {
  color: black;
  border-bottom: 3px solid black;
}

.contact-form {
  background-color: #fae9e7;
  padding: 20px;
  border-radius: 0 0 10px 10px;
}

.event label,
.makehair label {
  font-family: "Baskervville", serif;
  font-size: 1.5em;
}

#eventSelector,
#bridalSelector {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
}

.eventButton,
.bridalButton {
  font-family: "Baskervville", serif;
  font-size: 1.3em;
  padding: 10px 20px;
  border: 1px solid #725a58;
  background-color: white;
  color: #a3a3a3;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}

.eventButton.selected {
  border-color: #e3b6b1;
  color: black;
}

.eventButton.selected .circle {
  display: none;
  width: 20px;
  height: 20px;
  background-color: #e3b6b1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.eventButton.selected .circle::before {
  content: "✔";
  color: white;
  font-size: 14px;
}

.eventButton.selected .circle {
  display: flex;
}

#wedding,
#photo {
  display: none;
}

.dateTime {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  flex-direction: column;
}

.eventDate label:nth-child(1),
.eventTime label,
.eventName label,
.bridalLocation label,
.premiumServices label,
.thanksServices h3 {
  font-family: "Baskervville", serif;
  font-size: 1.5em;
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
}

.datePicker,
.locationPicker {
  position: relative;
  display: inline-block;
}

.datePicker .calendar,
.locationPicker .search {
  position: absolute;
  right: 10px;
  top: 40%;
  transform: translateY(-50%);
  width: 24px;
  height: auto;
  pointer-events: none;
}

.eventDate #date,
.eventTime #eventSelect,
.eventName #name,
.bridalLocation #locationInput {
  font-family: "Baskervville", serif;
  font-size: 1.3em;
  padding: 10px 20px;
  border: 2px solid transparent;
  border-color: #e3b6b1;
  background-color: white;
  color: #a3a3a3;
  cursor: pointer;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
}

.eventTime #eventSelect {
  color: black;
  justify-content: left;
  align-items: left;
  margin-left: 0;
  padding: 10px 40px 10px 20px;
}

.eventName #name,
.bridalLocation #locationInput {
  width: 520px;
  margin-bottom: 20px;
}

.bridalLocation #locationInput {
  margin-bottom: 0px;
}

.notDecided {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.notDecided input,
.premiumServiceItem input,
.serviceOptions input,
.serviceOptions2 input {
  appearance: none;
  background-color: white;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border: 2px solid #e3b6b1;
}

.notDecided input:checked,
.premiumServiceItem input:checked,
.serviceOptions input:checked,
.serviceOptions2 input:checked {
  background-color: #e3b6b1;
  border: 2px solid white;
}

.notDecided label,
.premiumServiceItem label {
  font-size: 1.2em;
  font-family: "Baskervville", serif;
  font-weight: lighter;
}

.group,
.groupCall {
  border: none;
  padding: 0;
  margin: 0;
}

.group legend,
.groupCall legend {
  font-size: 24px;
  margin-bottom: 10px;
}

.groupCall legend {
  font-size: 18px;
}

.group div,
.groupCall div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.group input[type="radio"],
.groupCall input[type="radio"] {
  appearance: none;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%;
  border: 2px solid transparent;
  outline: none;
  cursor: pointer;
  position: relative;
  background-color: white;
}

.group input[type="radio"],
.groupCall input[type="radio"] {
  border-color: #a65c5c;
}

.group input[type="radio"]:checked,
.groupCall input[type="radio"]:checked {
  background-color: white;
}

.group input[type="radio"]:checked::after,
.groupCall input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 13px;
  height: 13px;
  background: #a65c5c;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.contactInfoInput {
  display: none;
  margin-top: 10px;
}

.contactInfoInput input {
  font-family: "Baskervville", serif;
  font-size: 1em;
  padding: 10px 20px;
  border: 2px solid transparent;
  border-color: #e3b6b1;
  background-color: white;
  color: #a3a3a3;
  cursor: pointer;
  position: relative;
  display: block;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.contactInfoInput.show-input {
  width: 100%;
  margin-top: 0;
  display: block;
}

.phone-wrapper {
  display: flex;
}

.country-code-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.country-code-wrapper select {
  font-family: "Baskervville", serif;
  font-size: 1em;
  text-align: center;
  padding: 10px;
  border: 2px solid #e3b6b1;
  background-color: white;
  color: black;
  cursor: pointer;
  width: 100px;
}

.contactMethod {
  margin-bottom: 20px;
}

#timeCallQuestion {
  display: none;
}

.groupCall {
  display: none;
}

.group {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0;
  align-items: left;
}

.group div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 0;
  justify-content: left;
  margin: 0;
}

.group label {
  font-family: "Baskervville", serif;
  font-size: 1.2em;
  margin-left: 10px;
  margin-top: 0;
}

#marginme {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#marginme div {
  margin-left: 0px;
}

.submit-btn,
.thanksFooter div .submit-button {
  width: 100%;
  padding: 10px;
  border: 1px solid #a65c5c;
  color: #a65c5c;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
  font-family: "Baskervville", serif;
  font-size: 1em;
  font-weight: lighter;
  transition: background-color 0.3s;
  width: 30%;
  display: block;
  margin: 0 auto;
}

.submit-btn:hover {
  background-color: white;
}

.makehair {
  margin-top: 50px;
}

#bridalSelector .circle {
  width: 20px;
  height: 20px;
  background-color: #e3b6b1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

#bridalSelector .circle::before {
  content: "✔";
  font-size: 14px;
}

.bridalButton {
  width: 45%;
  color: black;
}

.premiumGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.premiumServiceItem {
  display: flex;
  align-items: center;
}

.premiumServices,
.bridalLocation {
  margin-top: 20px;
}

.backButton {
  color: #725a58;
  font-size: 1.3em;
  border-bottom: 0;
}

.makehair {
  margin-top: 10px;
}

.serviceRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0;
  background-color: white;
  margin-bottom: 20px;
}

.serviceRow:last-child {
  border-bottom: none;
}

.serviceName {
  font-family: "Baskervville", serif;
  flex: 1;
  font-weight: lighter;
  font-size: 1.3em;
  margin-left: 20px;
}

.serviceControls {
  display: flex;
  align-items: center;
  margin: 0;
  background-color: #fae9e7;
}

.serviceControls button {
  background-color: #fae9e7;
  padding: 5px;
  border: 1px solid #fae9e7;
  cursor: pointer;
}

.serviceControls span {
  background-color: #fae9e7;
  width: 40px;
  text-align: center;
  border: 1px solid #fae9e7;
  margin: 0 5px;
}

.serviceRow {
  display: grid;
  grid-template-columns: 150px 100px 1px 300px;
  gap: 10px;
}

.serviceRow > div {
  padding: 10px;
}

.serviceOptions input[type="checkbox"],
.serviceOptions2 input[type="checkbox"] {
  margin-right: 10px;
  margin-left: 30px;
  transform: translateY(8px);
}

.serviceOptions input,
.serviceOptions2 input {
  margin-right: 5px;
}

.serviceOptions {
  margin-bottom: 15px;
}

.serviceOptions2 {
  margin-left: 120px;
  margin-bottom: 10px;
}

.serviceOptions input:checked::before,
.serviceOptions2 input:checked::before {
  content: "✔";
  color: white;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.serviceRow .separator {
  padding: 0;
  width: 2px;
  background-color: #fae9e7;
  height: 100%;
  margin: 0 10px;
}

.messageSection {
  margin-top: 20px;
}

.messageSection label {
  font-family: "Baskervville", serif;
  display: block;
  font-weight: lighter;
  font-size: 1.5em;
  margin-bottom: 5px;
}

.messageSection textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  resize: none;
  font-family: inherit;
  margin-bottom: 20px;
}

.bridalFormContainer,
.partyFormContainer,
.thanksFormContainer,
#Groom,
#Bridesmaid,
#FlowerGirl,
#Man,
#Woman,
.photoThanksFormContainer {
  display: none;
}

.thankfulMessage h2,
.thanksContainer h2 {
  font-family: "Baskervville", serif;
  color: #725a58;
  font-size: 2.5em;
  font-weight: lighter;
}

.thankfulMessage p,
.thanksContainer p {
  font-family: "Baskervville", serif;
}

.thanksContainer {
  border: 2px solid #725a58;
  padding: 20px;
}

.thanksContainer img {
  width: 100%;
}

.typhoon-list li::before {
  content: "-";
  position: absolute;
  left: 0;
  color: #555;
}

.thanksServices h3 {
  font-weight: lighter;
}

.thanksServices {
  display: flex;
  justify-content: space-between;
}

.thanksServices div {
  flex: 1;
  margin: 0 10px;
}

.thanksFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.thanksFooter .contacticons {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  margin: 0;
  gap: 0;
}

.thanksFooter .contacticons img {
  margin: 0;
  padding: 0;
  display: block;
}

.thanksFooter .social-icons {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.thanksFooter .social-icons a {
  display: flex;
  align-items: center;
  gap: 5px;
  text-align: center;
}

.thanksFooter div {
  flex: 1;
  margin: 0 10px;
  text-align: center;
}

.thanksFooter div .submit-button {
  display: block;
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-top: 90px;
  margin-right: 0;
}

.contacticons .smallLogo {
  width: 25%;
  height: auto;
  margin-right: 50px;
  margin-bottom: 10px;
}

.thanksFormContainer {
  padding: 60px;
}
