@mixin btn($color) {
  font-size: 20px;
  padding: 24px 32px;
  font-family: "Baskervville", serif;
  font-weight: 400;
  border: solid 0.8px $color;
  background-color: rgba(255, 255, 255, 0);
  color: $color;
}

body {
  margin: 0;
  font-family: "Baskervville", serif;

  main {
    background-color: #f8f6f4;

    #hero {
      background-image: url("../../images/homePage/home_img.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      // width: 100%;
      height: 625px;

      .home-container {
        // height: 625px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding-top: 250px;

        .signature {
          color: #fff;
          width: 500px;
        }

        p {
          color: #fff;
          font-size: 18px;
        }
        button {
          @include btn(#fff);

          &:hover {
            transition: all 0.5s;
            background-color: rgba(255, 255, 255, 0.5);
            color: #000;
          }
        }
      }
    }

    #artist {
      padding: 5% 15%;

      #artist-img-container {
        background-color: #f8f6f4;
        display: flex;
        flex-direction: row;
        gap: 24px;
        margin-bottom: 100px;
        height: 395px;

        .artist-card {
          // box-shadow: 10px 10px 0 1px red;
          position: relative;
          z-index: 1;

          img {
            background: linear-gradient(to right top, #ae7872, #ae7872);
            width: 285px;
            height: 321px;
            object-fit: cover;
          }

          &::before {
            content: "";
            position: absolute;
            top: -20px;
            right: -20px;
            width: 100%;
            height: 100%;
            border: solid 2px #ffc0cb;
            z-index: -1;
          }

          .card-text {
            position: absolute;
            top: 321px;
            width: 285px;
            height: 77px;
            background-color: #fff;
            display: flex;
            justify-content: space-around;
            align-items: center;

            img {
              width: 90px;
              height: auto;
            }

            p {
              font-size: 14px;
              font-weight: 300;
              font-family: "Baskervville", serif;
              width: 35%;
            }
          }
        }

        .artist-container {
          .artist-img {
            // background: linear-gradient(#ae7872 0%, #ae7872 50%);
            // width: 258px;
            // height: auto;
          }

          .artist-description {
            font-family: "Baskervville", serif;
            margin: 5%;
            img {
              margin-bottom: 8px;
            }

            h3 {
              font-weight: 400;
              font-size: 48px;
              margin: 0;
            }

            p {
              font-size: 18px;
            }
          }

          .artist-btn-sign {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            button {
              @include btn(#5e4a49);

              &:hover {
                transition: all 0.5s;
                background-color: #5e4a49;
                color: #fff;
              }

              img {
                transform: rotate(10deg);
              }
            }
          }
        }

        #brand-logo {
          font-size: 18px;
          justify-content: center;

          .our-brand {
            // display: flex;
            // align-items: center;
            // background: #535353;
          }

          .logos {
            width: 740px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 60px;
            filter: overlay-color("#fff");
          }
        }
      }
    }

    #star {
      background-color: #fae9e7;
      font-family: "Baskervville", serif;
      // font-size: 80px;
      text-align: center;
      color: #5e4a49;

      .star-intro {
        margin-bottom: 50px;
        h1 {
          padding: 5% 15%;
          font-size: 60px;
          width: 100%;
          font-weight: 100;
          // border-bottom: solid 1px #ae7872;

          &::after {
            content: " ";
            border-bottom: solid 1px #ae7872;
          }
        }

        button {
          @include btn(#5e4a49);
        }
      }

      .star-characters {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }

    #makeup {
      color: #5e4a49;
      text-align: center;
      // padding: 0 10%;
      margin-bottom: 5%;

      .makeup-title {
        padding: 0 25% 10%;

        h1 {
          font-size: 80px;
          font-weight: 100;

          &::after {
            border-bottom: solid 1px black;
          }
        }

        p {
          margin-bottom: 50px;
        }

        button {
          @include btn(#5e4a49);
        }
      }

      .offer-images-container {
        // display: flex;
        align-items: center;

        .offer-image {
          height: auto;
        }
      }
    }

    #makeup101 {
      margin: 0 3%;
      padding: 5%;
      background-color: #fae9e7;
      color: #725a58;
      font-weight: 100;

      h1 {
        font-size: 80px;
        font-weight: 100;
        text-align: center;
      }

      #makeup101-container {
        display: flex;

        aside {
          .makeup101-btn {
            color: #725a58;
            font-family: "Baskervville", serif;
            background-color: rgba(255, 255, 255, 0);
            border: none;
          }

          .makeup-btn {
            width: 90%;
            text-align: left;

            &:hover {
              background-color: yellow;
            }

            h2 {
              &::before {
                padding-left: 20px;
                // line-height: 20px;
                background: url(../../images/homePage/Vector.png);
              }
            }

            p {
              color: #000;
            }
          }

          .allclasses {
            @include btn(#725a58);

            &:hover {
              background-color: yellow;
            }
          }
        }

        .makeupProImage {
          position: relative;
          z-index: 1;

          &::before {
            content: "";
            position: absolute;
            width: 90%;
            height: 90%;
            border: solid 1px #fff;
            z-index: -1;
          }
        }
      }
    }
  }
}
