body {
  margin: 0;
  font-family: "Baskervville", serif;
  background-color: #f8f6f4;
}

.container {
  text-align: center;
}

.contactTitle {
  width: 100%;
  text-align: center;
}

.contactTitle h1 {
  font-family: "Baskervville", serif;
  color: #725a58;
  font-weight: lighter;
  letter-spacing: 0.15em;
  font-size: 4em;
  margin: 20px 0;
  margin-bottom: 0px;
}

.contactTitle hr {
  margin-top: 0px;
  width: 10%;
  border: 1px solid #e3b6b1;
  margin-top: 20px;
}

.contactTitle p {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: black;
  text-align: center;
}

.contactContainer {
  margin-top: 0px;
  background-color: #f8f6f4;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contacticons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}
.contacticons a {
  display: inline-flex;
  color: inherit;
  text-decoration: none;
  font-family: "Baskervville", serif;
  font-size: 1em;
  color: #725a58;
  white-space: nowrap;
}
.contacticons img {
  margin-right: 10%;
  color: #725a58;
  margin-left: 5%;
}
.contactFormContainer,
.bridalFormContainer,
.partyFormContainer,
.thanksFormContainer,
.photoThanksFormContainer,
.contactFormContainer2 {
  // margin-top: 10%;
  // margin-left: 30%;
  // margin-bottom: 10%;
  margin: 10% auto;
  background-color: #fae9e7;
  padding: 20px;
  width: 600px;
}

.contactTabs,
.bridalTabs,
.partyTabs,
.thanksTabs {
  text-align: center;
  margin-bottom: 20px;
}

.contactTab,
.bridalTab,
.backButton,
.partyTab,
.thanksTab {
  font-family: "Baskervville", serif;
  background-color: transparent;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 32px;
  position: relative;
  color: #a3a3a3;
  border-bottom: 3px solid #a3a3a3;
}

.contactTab:hover,
.bridalTab:hover,
.partyTab:hover,
.thanksTab:hover {
  color: black;
  border-bottom: 3px solid black;
}

.contactTab.active,
.bridalTab.active,
.partyTab.active,
.thanksTab.active {
  color: black;
  border-bottom: 3px solid black;
}

.contact-form {
  background-color: #fae9e7;
  padding: 20px;
  border-radius: 0 0 10px 10px;
}

.event label,
.makehair label {
  font-family: "Baskervville", serif;
  font-size: 1.5em;
}

#eventSelector,
#bridalSelector {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
}

.eventButton,
.bridalButton {
  font-family: "Baskervville", serif;
  font-size: 1.3em;
  padding: 10px 20px;
  border: 1px solid #725a58;
  background-color: white;
  color: #a3a3a3;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}

.eventButton.selected {
  border-color: #e3b6b1;
  color: black;
}

.eventButton.selected .circle {
  display: none;
  width: 20px;
  height: 20px;
  background-color: #e3b6b1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.eventButton.selected .circle::before {
  content: "✔";
  color: white;
  font-size: 14px;
}

.eventButton.selected .circle {
  display: flex;
}

#wedding,
#photo {
  display: none;
}

.dateTime {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.eventDate label:nth-child(1),
.eventTime label,
.eventName label,
.bridalLocation label,
.premiumServices label,
.thanksServices h3 {
  font-family: "Baskervville", serif;
  font-size: 1.5em;
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
}
.datePicker,
.locationPicker {
  position: relative;
  display: inline-block;
}

.datePicker .calendar,
.locationPicker .search {
  position: absolute;
  right: 10px;
  top: 40%;
  transform: translateY(-50%);
  width: 24px;
  height: auto;
  pointer-events: none;
}

.eventDate #date,
.eventTime #eventSelect,
.eventName #name,
.bridalLocation #locationInput {
  font-family: "Baskervville", serif;
  font-size: 1.3em;
  padding: 10px 20px;
  border: 2px solid transparent;
  border-color: #e3b6b1;
  background-color: white;
  color: #a3a3a3;
  cursor: pointer;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
}

.eventTime #eventSelect {
  color: black;
  justify-content: left;
  align-items: left;
  margin-left: 0;
  padding: 10px 40px 10px 20px;
}

.eventName #name,
.bridalLocation #locationInput {
  width: 520px;
  margin-bottom: 20px;
}

.bridalLocation #locationInput {
  margin-bottom: 0px;
}

.notDecided {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.notDecided input,
.premiumServiceItem input,
.serviceOptions input,
.serviceOptions2 input {
  appearance: none;
  background-color: white;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border: 2px solid #e3b6b1;
}

.notDecided input:checked,
.premiumServiceItem input:checked,
.serviceOptions input:checked,
.serviceOptions2 input:checked {
  background-color: #e3b6b1;
  border: 2px solid white;
}

.notDecided label,
.premiumServiceItem label {
  font-size: 1.2em;
  font-family: "Baskervville", serif;
  font-weight: lighter;
}

.group,
.groupCall {
  border: none;
  padding: 0;
  margin: 0;
}

.group legend,
.groupCall legend {
  font-size: 24px;
  margin-bottom: 10px;
}

.groupCall legend {
  font-size: 18px;
}

.group div,
.groupCall div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.group input[type="radio"],
.groupCall input[type="radio"] {
  appearance: none;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%;
  border: 2px solid transparent;
  outline: none;
  cursor: pointer;
  position: relative;
  background-color: white;
}

.group input[type="radio"],
.groupCall input[type="radio"] {
  border-color: #a65c5c;
}

.group input[type="radio"]:checked,
.groupCall input[type="radio"]:checked {
  background-color: white;
}

.group input[type="radio"]:checked::after,
.groupCall input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 13px;
  height: 13px;
  background: #a65c5c;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.contactInfoInput {
  display: none;
  margin-top: 10px;
}

.contactInfoInput input {
  font-family: "Baskervville", serif;
  font-size: 1em;
  padding: 10px 20px;
  border: 2px solid transparent;
  border-color: #e3b6b1;
  background-color: white;
  color: #a3a3a3;
  cursor: pointer;
  position: relative;
  display: block;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.contactInfoInput.show-input {
  width: 100%;
  margin-top: 0;
  display: block;
}

.phone-wrapper {
  display: flex;
}

.country-code-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.country-code-wrapper select {
  font-family: "Baskervville", serif;
  font-size: 1em;
  text-align: center;
  padding: 10px;
  border: 2px solid #e3b6b1;
  background-color: white;
  color: black;
  cursor: pointer;
  width: 100px;
}

.contactMethod {
  margin-bottom: 20px;
}

#timeCallQuestion {
  display: none;
}

.groupCall {
  display: none;
}

.group {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0;
  align-items: left;
}

.group div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 0;
  justify-content: left;
  margin: 0;
}

.group label {
  font-family: "Baskervville", serif;
  font-size: 1.2em;
  margin-left: 10px;
  margin-top: 0;
}

#marginme {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#marginme div {
  margin-left: 0px;
}

.submit-btn,
.thanksFooter div .submit-button {
  width: 100%;
  padding: 10px;
  border: 1px solid #a65c5c;
  color: #a65c5c;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
  font-family: "Baskervville", serif;
  font-size: 1em;
  font-weight: lighter;
  transition: background-color 0.3s;
  width: 30%;
  display: block;
  margin: 0 auto;
}

.submit-btn:hover {
  background-color: white;
}

.makehair {
  margin-top: 50px;
}

#bridalSelector .circle {
  width: 20px;
  height: 20px;
  background-color: #e3b6b1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  font-weight: bold;
}
#bridalSelector .circle::before {
  content: "✔";
  font-size: 14px;
}

.bridalButton {
  width: 45%;
  color: black;
}

.premiumGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.premiumServiceItem {
  display: flex;
  align-items: center;
}

.premiumServices,
.bridalLocation {
  margin-top: 20px;
}

.backButton {
  color: #725a58;
  font-size: 1.3em;
  border-bottom: 0;
}

.makehair {
  margin-top: 10px;
}
.serviceRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0;
  background-color: white;
  margin-bottom: 20px;
}

.serviceRow:last-child {
  border-bottom: none;
}

.serviceName {
  font-family: "Baskervville", serif;
  flex: 1;
  font-weight: lighter;
  font-size: 1.3em;
  margin-left: 20px;
}

.serviceControls {
  display: flex;
  align-items: center;
  margin: 0;
  background-color: #fae9e7;
}

.serviceControls button {
  background-color: #fae9e7;
  padding: 5px;
  border: 1px solid #fae9e7;
  cursor: pointer;
}

.serviceControls span {
  background-color: #fae9e7;
  width: 40px;
  text-align: center;
  border: 1px solid #fae9e7;
  margin: 0 5px;
}

.serviceRow {
  display: grid;
  grid-template-columns: 150px 100px 1px 300px;
  gap: 10px;
}

.serviceRow > div {
  padding: 10px;
}
.serviceOptions input[type="checkbox"],
.serviceOptions2 input[type="checkbox"] {
  margin-right: 10px;
  margin-left: 30px;
  transform: translateY(8px);
}

.serviceOptions input,
.serviceOptions2 input {
  margin-right: 5px;
}

.serviceOptions {
  margin-bottom: 15px;
}

.serviceOptions2 {
  margin-left: 120px;
  margin-bottom: 10px;
}

.serviceOptions input:checked::before,
.serviceOptions2 input:checked::before {
  content: "✔";
  color: white;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.serviceRow .separator {
  padding: 0;
  width: 2px;
  background-color: #fae9e7;
  height: 100%;
  margin: 0 10px;
}

.messageSection {
  margin-top: 20px;
}

.messageSection label {
  font-family: "Baskervville", serif;
  display: block;
  font-weight: lighter;
  font-size: 1.5em;
  margin-bottom: 5px;
}

.messageSection textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  resize: none;
  font-family: inherit;
  margin-bottom: 20px;
}

.bridalFormContainer,
.partyFormContainer,
.thanksFormContainer,
#Groom,
#Bridesmaid,
#FlowerGirl,
#Man,
#Woman,
.photoThanksFormContainer {
  display: none;
}

.thankfulMessage h2,
.thanksContainer h2 {
  font-family: "Baskervville", serif;
  color: #725a58;
  font-size: 2.5em;
  font-weight: lighter;
}

.thankfulMessage p,
.thanksContainer p {
  font-family: "Baskervville", serif;
}

.thanksContainer {
  border: 2px solid #725a58;
  padding: 20px;
}

.thanksContainer img {
  width: 100%;
}

.typhoon-list li::before {
  content: "-";
  position: absolute;
  left: 0;
  color: #555;
}

.thanksServices h3 {
  font-weight: lighter;
}

.thanksServices {
  display: flex;
  justify-content: space-between;
}
.thanksServices div {
  flex: 1;
  margin: 0 10px;
}

.thanksFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.thanksFooter .contacticons {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  margin: 0;
  gap: 0;
}

.thanksFooter .contacticons img {
  margin: 0;
  padding: 0;
  display: block;
}

.thanksFooter .social-icons {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.thanksFooter .social-icons a {
  display: flex;
  align-items: center;
  gap: 5px;
  text-align: center;
}

.thanksFooter div {
  flex: 1;
  margin: 0 10px;
  text-align: center;
}

.thanksFooter div .submit-button {
  display: block;
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-top: 90px;
  margin-right: 0;
}

.contacticons .smallLogo {
  width: 25%;
  height: auto;
  margin-right: 50px;
  margin-bottom: 10px;
}

.thanksFormContainer {
  padding: 60px;
}
