body {
    margin: 0;
    font-family: "Baskervville", serif;
  }
  
  .container {
    text-align: center;
  }

.servicesTitle h1 {
    font-family: "Baskervville", serif;
    color: #725A58;
    font-weight: lighter;
    letter-spacing: 0.15em;
    font-size: 4em;
    margin: 20px 0;
    margin-bottom: 0px;
  }
  
  .servicesTitle hr {
    margin-top: 0px;
    width: 40%;
    border: 1px solid #E3B6B1;
    margin-top: 20px;
  }
  
  .servicesTitle p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: black;
  }

  .servicesContainer{
    margin-top: 0px;
    background-color: #FAE9E7;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  
  .servicesColumns{
    display: grid;
	grid-template-columns: 30% 70%;
	grid-template-rows: 33% 33% 33%;
  }